.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    box-sizing: border-box;
    width: 60vw;
    max-height: 70vh;
    /* box-shadow: 0px 0px 22px 4px rgba(249, 242, 242, 0.957); */

    margin: 2rem auto;
}

.bthbtn {
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
    padding: 0.3rem;
    color: rgb(64, 34, 194);
    font-size: 1.2rem;
    border-radius: 3px;
    border: 2px solid rgb(128, 65, 245);
}

.bthbtn:hover {
    color: rgb(10, 9, 10);
    background-color: rgb(170, 173, 252);

}