.nav_bar {
    height: 15vh;
    border-radius: 0rem 0rem 3.875rem 3.4375rem;
    background-image: url("../../assets/Images/NavImage.png");
    background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
    color: #FFF;

    nav {
        height: 100%;
        max-width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3rem;

        .logo {
            color: rgb(252, 251, 253);
        }
        .logo:hover{
            color: blue;
        }

        ul {
            list-style: none;
            display: flex;
            gap: 1rem;
        }
        
        .no_auth {
            li {
                a {
                    width: 6rem;
                    height: 2rem;
                    border-radius: 0.4rem;
                    border: 2px solid #FFF;
                    background: transparent;
                    text-decoration: none;
                    padding: 0.5rem 1rem;
                    font-weight: 500;
                }
            }
        }
        
        .auth {
            display: flex;
            align-items: center;

            li {
                font-weight: 500;
                font-size: 1rem;
            }
            
            li:first-child {
                cursor: pointer;
                border-radius: 0.4rem;
                padding: 0.5rem 1rem;
                border: 2px solid transparent;
                
                &:hover {
                    border-color:#FFF;
                    background: transparent;
                }
            }
            
            li:nth-child(2) {
                display: flex;
                align-items: center;

                .profile_img {
                    margin-left: 1rem;
                    
                    svg {
                        width: 2.5rem;
                        height: 2.5rem;
                        color: #FEE;
                    }
                }
            }
        }

    }
}